<div class="w-96 sticky top-0 border-4 course-sidebar">
    <div class="overflow-y-auto h-screen">
    123 start \n
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar

    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
    course side bar
        end
    </div>
</div>
