<div class="mt-14">
    <h1 class="font-bold text-5xl mb-8">
        Button
    </h1>
    <p-card header="Basic button" styleClass="mb-8">
        <div class="card flex justify-center">
            <p-button label="Submit" />
        </div>
    </p-card>

    <p-card header="Icon button" styleClass="mb-8">
        <div class="card flex flex-col items-center gap-4">
            <div class="flex flex-wrap gap-4 justify-center">
                <p-button icon="pi pi-home" aria-label="Save" />
                <p-button label="Profile" icon="pi pi-user" />
                <p-button label="Save" icon="pi pi-check" iconPos="right" />
            </div>
            <div class="flex flex-wrap gap-4 justify-center">
                <p-button label="Search" icon="pi pi-search" iconPos="top" />
                <p-button label="Update" icon="pi pi-refresh" iconPos="bottom" />
            </div>
        </div>
    </p-card>

    <p-card header="Basic button with loading" styleClass="mb-8">
        <div class="card flex justify-center gap-4">
            <p-button label="Search" icon="pi pi-check" [loading]="loading" (onClick)="load()" />
        </div>
    </p-card>

    <p-card header="Variants" styleClass="mb-8">
        <div class="card flex flex-wrap gap-4 justify-center">
            <p-button label="Primary" />
            <p-button label="Secondary" severity="secondary" />
            <p-button label="Success" severity="success" />
            <p-button label="Info" severity="info" />
            <p-button label="Warn" severity="warn" />
            <p-button label="Help" severity="help" />
            <p-button label="Danger" severity="danger" />
            <p-button label="Contrast" severity="contrast" />
        </div>
    </p-card>

    <p-card header="Raised" styleClass="mb-8">
        <p>Raised buttons display a shadow to indicate elevation.</p>
        <div class="card flex flex-wrap gap-4 justify-center">
            <p-button label="Primary" [raised]="true" />
            <p-button label="Secondary" [raised]="true" severity="secondary" />
            <p-button label="Success" [raised]="true" severity="success" />
            <p-button label="Info" [raised]="true" severity="info" />
            <p-button label="Warn" [raised]="true" severity="warn" />
            <p-button label="Help" [raised]="true" severity="help" />
            <p-button label="Danger" [raised]="true" severity="danger" />
            <p-button label="Contrast" [raised]="true" severity="contrast" />
        </div>
        <p>Raised text button</p>
        <div class="card flex flex-wrap gap-4 justify-center">
            <p-button label="Primary" variant="text" [raised]="true" />
            <p-button label="Secondary" variant="text" [raised]="true" severity="secondary" />
            <p-button label="Success" variant="text" [raised]="true" severity="success" />
            <p-button label="Info" variant="text" [raised]="true" severity="info" />
            <p-button label="Warn" variant="text" [raised]="true" severity="warn" />
            <p-button label="Help" variant="text" [raised]="true" severity="help" />
            <p-button label="Danger" variant="text" [raised]="true" severity="danger" />
            <p-button label="Plain" variant="text" [raised]="true" />
        </div>
    </p-card>

    <p-card header="Badge" styleClass="mb-8">
        <div class="card flex justify-center flex-wrap gap-4">
            <p-button label="Emails" badge="2" styleClass="m-0" />
            <p-button label="Messages" icon="pi pi-users" badge="2" badgeSeverity="contrast" styleClass="m-0" [outlined]="true" />
        </div>
    </p-card>

    <p-card header="Icon only button" styleClass="mb-8">
        <div class="card">
            <div class="flex justify-center flex-wrap gap-4 mb-6">
                <p-button icon="pi pi-check" />
                <p-button icon="pi pi-bookmark" severity="secondary" />
                <p-button icon="pi pi-search" severity="success" />
                <p-button icon="pi pi-user" severity="info" />
                <p-button icon="pi pi-bell" severity="warn" />
                <p-button icon="pi pi-heart" severity="help" />
                <p-button icon="pi pi-times" severity="danger" />
            </div>
            <div class="flex justify-center flex-wrap gap-4 mb-6">
                <p-button icon="pi pi-check" [rounded]="true" />
                <p-button icon="pi pi-bookmark" [rounded]="true" severity="secondary" />
                <p-button icon="pi pi-search" [rounded]="true" severity="success" />
                <p-button icon="pi pi-user" [rounded]="true" severity="info" />
                <p-button icon="pi pi-bell" [rounded]="true" severity="warn" />
                <p-button icon="pi pi-heart" [rounded]="true" severity="help" />
                <p-button icon="pi pi-times" [rounded]="true" severity="danger" />
            </div>
            <div class="flex justify-center flex-wrap gap-4 mb-6">
                <p-button icon="pi pi-check" [rounded]="true" [outlined]="true" />
                <p-button icon="pi pi-bookmark" [rounded]="true" severity="secondary" [outlined]="true" />
                <p-button icon="pi pi-search" [rounded]="true" severity="success" [outlined]="true" />
                <p-button icon="pi pi-user" [rounded]="true" severity="info" [outlined]="true" />
                <p-button icon="pi pi-bell" [rounded]="true" severity="warn" [outlined]="true" />
                <p-button icon="pi pi-heart" [rounded]="true" severity="help" [outlined]="true" />
                <p-button icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true" />
            </div>
            <div class="flex justify-center flex-wrap gap-4 mb-6">
                <p-button icon="pi pi-check" [rounded]="true" [text]="true" [raised]="true" />
                <p-button icon="pi pi-bookmark" [rounded]="true" [text]="true" [raised]="true" severity="secondary" />
                <p-button icon="pi pi-search" [rounded]="true" [text]="true" [raised]="true" severity="success" />
                <p-button icon="pi pi-user" [rounded]="true" [text]="true" [raised]="true" severity="info" />
                <p-button icon="pi pi-bell" [rounded]="true" [text]="true" [raised]="true" severity="warn" />
                <p-button icon="pi pi-heart" [rounded]="true" [text]="true" [raised]="true" severity="help" />
                <p-button icon="pi pi-times" [rounded]="true" [text]="true" [raised]="true" severity="danger" />
            </div>
            <div class="flex justify-center flex-wrap gap-4 mb-6">
                <p-button icon="pi pi-check" [rounded]="true" [text]="true" />
                <p-button icon="pi pi-bookmark" [rounded]="true" [text]="true" severity="secondary" />
                <p-button icon="pi pi-search" [rounded]="true" [text]="true" severity="success" />
                <p-button icon="pi pi-user" [rounded]="true" [text]="true" severity="info" />
                <p-button icon="pi pi-bell" [rounded]="true" [text]="true" severity="warn" />
                <p-button icon="pi pi-heart" [rounded]="true" [text]="true" severity="help" />
                <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger" />
            </div>
        </div>
    </p-card>
</div>
