<div class="">
    <div class="w-full h-[40vh] md:h-[60vh] lg:h-[70vh]">
        <!--        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/dJsOmXrJpVw"-->
        <!--                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
        <!--                allowfullscreen></iframe>-->
        <app-video-js #videoPlayer></app-video-js>
    </div>
    <div class="p-2">
        <p-tabs [(value)]="activeIndex">
            <p-tablist>
                <p-tab value="0">Overview</p-tab>
                <p-tab value="1">Reviews</p-tab>
                <p-tab value="2">Announcements</p-tab>
                <p-tab value="3">Notes</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="0">
                    @if (activeIndex == '0') {
                        <app-course-content></app-course-content>
                    }
                </p-tabpanel>
                <p-tabpanel value="1">
                    @if (activeIndex == '1') {
                        <app-course-reviews></app-course-reviews>
                    }
                </p-tabpanel>
                <p-tabpanel value="2">
                    @if (activeIndex == '2') {
                        <app-course-announcements></app-course-announcements>
                    }
                </p-tabpanel>
                <p-tabpanel value="3">
                    @if (activeIndex == '3') {
                        <app-course-notes
                            [currentTime]="currentTime"
                            (seekTo)="seekToTime($event)"
                            (pauseVideo)="pauseVideo()"
                            (resumeVideo)="resumeVideo()"
                        ></app-course-notes>
                    }
                </p-tabpanel>

            </p-tabpanels>
        </p-tabs>
    </div>


</div>
<app-landing-footer></app-landing-footer>
