:root {
    /*change colors in app-preset.ts*/
    --p-background-500: #000000;
    --topbar-sticky-background: rgba(240, 240, 240, 0.3);
    --topbar-border-color: var(--p-surface-200);
    --topbar-background-color: var(--p-surface-200);
    --router-link-active-color: var(--p-primary-400);
    --router-link-sidebar-color: var(--p-gray-500);
    --router-link-active-background-color: var(--p-surface-200);
    --glow-blend: hard-light, color-dodge;
    --glow-image: url('../images/pattern.png'), radial-gradient(50% 50% at center -25px, var(--p-primary-color) 0%, #000000 100%);
}

.dark {
    --topbar-sticky-background: rgba(0, 0, 0, 0.3);
    --topbar-border-color: var(--p-surface-700);
    --topbar-background-color: var(--p-surface-900);
    --router-link-sidebar-color: var(--p-gray-50);
}
