<div class="flex surface-section text-800 h-[80vh]">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center items-center translate-y-[-10%]">
        <section>
            <span class="block text-6xl font-bold mb-1">Save now</span>
            <div class="text-6xl text-primary font-bold mb-3">Learn anytime</div>
            <p class="mt-0 mb-4 text-700 line-height-3">Get courses for as little as ₫249,000 and enjoy the freedom to learn the way you want (for less). Sale ends tomorrow.</p>

            <button pButton pRipple label="Find a course" type="button" class="mr-3 p-button-raised"></button>
            <button pButton pRipple label="Sign up" type="button" class="p-button-outlined"></button>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
        <img src="assets/images/hero-img.png" alt="Image" class="hidden md:block md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
</div>
