<section class="">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
        <a routerLink="" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img src="assets/images/logo.png" alt="logo" class="w-40"/>
        </a>
        <p-card
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="space-y-4 md:space-y-6">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Sign in to your account
                </h1>
                <form [formGroup]="registerForm" class="space-y-4 md:space-y-6" (ngSubmit)="register()">
                    <div class="relative">
                        <label for="email" class="block mb-2 text-lg font-bold text-gray-900 dark:text-white">
                            Your email
                        </label>
                        <input pInputText id="email" formControlName="email" class="w-full"
                               [ngClass]="{'ng-dirty': isEmailInvalid()}"/>
                        <p-message *ngIf="isEmailInvalid()" severity="error" variant="simple" size="small"
                                   styleClass="absolute error-message">Invalid Email
                        </p-message>
                    </div>
                    <div class="relative">
                        <label for="password" class="block mb-2 text-lg font-bold text-gray-900 dark:text-white">Password</label>
                        <input type="password" pInputText id="password" aria-describedby="password-help"
                               formControlName="password" class="w-full" [ngClass]="{'ng-dirty': isPasswordInvalid()}"/>
                        <p-message *ngIf="registerForm.get('password')?.hasError('required')" severity="error" variant="simple" size="small"
                                   styleClass="absolute error-message">Please fill in Password
                        </p-message>
                    </div>
                    <div class="relative">
                        <label for="confirmPassword" class="block mb-2 text-lg font-bold text-gray-900 dark:text-white">Confirm Password</label>
                        <input type="password" pInputText id="confirmPassword" aria-describedby="password-help"
                               formControlName="confirmPassword" class="w-full" [ngClass]="{'ng-dirty': isPasswordInvalid()}"/>
                        <p-message *ngIf="registerForm.get('confirmPassword')?.hasError('required')" severity="error" variant="simple" size="small"
                                   styleClass="absolute error-message">Please fill in confirm password
                        </p-message>
                        <p-message *ngIf="registerForm?.hasError('passwordMismatch')" severity="error" variant="simple" size="small"
                                   styleClass="absolute error-message">password miss match
                        </p-message>
                    </div>
                    <div class="">
                        <p-button type="submit" styleClass="w-full">
                            {{ 'REGISTER' | translate }}
                        </p-button>
                    </div>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400 ">
                        Have any account?
                        <a routerLink="/account/login"
                           class="p-button font-bold p-button-text">Sign
                            in</a>
                    </p>
                </form>
            </div>
        </p-card>
    </div>
</section>
