@media(max-width: 1024px) {
    .desktop-sidebar {
        display: none;
    }

}

.router-link-sidebar {
    color: var(--router-link-sidebar-color);
}

.active-menuitem-sidebar {
    color: var(--router-link-active-color) !important;
    border-left: 1px solid var(--router-link-active-color);
}
