<p-megamenu id="landing-header" [model]="items" [style]="{ 'border-radius': '3rem', display: 'flex' }"
            styleClass="p-4 bg-surface-0 dark:bg-surface-900 landing-header">
    <img  src="assets/images/logo.png" alt="logo" class="w-24"/>
    <ng-template #start>
        <a routerLink="/">
            <img src="assets/images/logo.png" alt="logo" class="w-24"/>
        </a>
    </ng-template>
    <ng-template #item let-item>
        <a *ngIf="item.root"
           class="flex items-center cursor-pointer px-4 py-2 overflow-hidden relative font-semibold text-lg uppercase"
           style="border-radius: 2rem">
            <i [ngClass]="item.icon"></i>
            <span class="ml-2">{{ item.label }}</span>
        </a>
        <a
            [routerLink]="item.routerLink"
            *ngIf="!item.root && !item.image" class="flex items-center p-4 cursor-pointer mb-2 gap-2"
        >
                <span
                    class="inline-flex items-center justify-center rounded-full bg-primary text-primary-contrast w-12 h-12">
                    <i [ngClass]="item.icon + ' text-lg'"></i>
                </span>
            <span class="inline-flex flex-col gap-1">
                    <span class="font-medium text-lg text-surface-900 dark:text-surface-0">{{ item.label }}</span>
                    <span class="whitespace-nowrap">{{ item.subtext }}</span>
                </span>
        </a>
        <div *ngIf="item.image" class="flex flex-col items-start gap-4">
            <img [src]="item.image" alt="megamenu-demo" class="w-full"/>
            <span>{{ item.subtext }}</span>
            <p-button [label]="item.label" [outlined]="true"></p-button>
        </div>
    </ng-template>
    <ng-template #end>
        <div class="flex items-center gap-2 w-full justify-center md:w-auto">
            <p-button size="small" variant="outlined" severity="contrast"
                      styleClass="h-8" iconPos="left" (click)="handleToggleSearch()">
                <span class="pi pi-search"></span>
                <span pButtonLabel class="!font-normal hidden xl:inline-block">Search for anything</span>
            </p-button>
            <app-header-utils></app-header-utils>
            <p-button label="login" severity="contrast" size="small" (click)="handleLogin()"/>
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"/>
        </div>
    </ng-template>
</p-megamenu>

<p-dialog
    position="top"
    [(visible)]="showSearch"
    [modal]="true"
    [style]="{ width: '50rem', margin: '84px 0' }"
    [breakpoints]="{ '1199px': '60vw', '720px': '90vw' }"
    [draggable]="false"
    [resizable]="false"
    [dismissableMask]="true"
>
    <ng-template #header>
        <p-inputgroup>
            <p-button label="Search" (click)="handleSearch()" />
            <input pInputText placeholder="Keyword" [(ngModel)]="searchKeyword" (keyup.enter)="handleSearch()"/>
        </p-inputgroup>
    </ng-template>

    <ng-template #content>
        <div class="flex flex-col ">
            @for (course of courses; track course.title) {
                <div class="flex justify-between items-center px-2 py-1 rounded-md cursor-pointer hover:bg-gray-200 dark:hover:bg-gray-600">
                    <img src="assets/images/hero-img.png" alt="{{ course.title }}" class="course-image h-10 w-auto">
                    <div class="flex flex-col justify-between ml-4 flex-grow overflow-x-hidden ">
                        <h3 class="font-bold text-xl line-clamp-1">{{ course.title }}</h3>
                        <div class="flex items-baseline gap-2">
                            <p class="text-sm">Course </p>
                            <p class="text-xs">{{ course.instructor }}</p>
                        </div>

                    </div>
                </div>
            }
        </div>

    </ng-template>

    <!--    <ng-template #footer>-->
    <!--        <div class="flex justify-center align-middle gap-3">-->
    <!--            <div>-->
    <!--                123-->
    <!--            </div>-->
    <!--            <div>-->
    <!--                2aaa-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </ng-template>-->
</p-dialog>
