.demo-top-bar {
    /*border-bottom: 1px solid var(--border-color);*/
    background-color: var(--topbar-sticky-background);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    height: 3rem;
    border-bottom: 1px solid var(--topbar-border-color);
}

@media(min-width: 1024px) {
    .icon-sidebar {
        display: none;
    }
}
