<div class="p-4 border rounded  shadow dark:border-gray-700">
    <h2 class="text-lg font-semibold mb-3 text-gray-900 dark:text-gray-100">Course Notes</h2>

    <div class="mb-2">
        <p class="text-sm text-gray-600 dark:text-gray-400">Current time: {{ currentTime | number: '1.0-0' }}s</p>
        <textarea
            pTextarea
            [(ngModel)]="noteText"
            class="w-full p-2 border rounded mb-2 text-gray-900 dark:text-gray-100 border-gray-300 dark:border-gray-700 placeholder-gray-400 dark:placeholder-gray-500"
            rows="2"
            placeholder="Type your note here..."
            (focus)="pauseVideo.emit()"
        ></textarea>
        <button
            pButton
            pRipple
            (click)="addNote()"
            class="bg-blue-500 text-white px-4 py-1 rounded hover:bg-blue-600 dark:hover:bg-blue-400 dark:bg-blue-600"
        >
            Add Note
        </button>
    </div>

    <ul class="mt-4 space-y-2">
        <li
            *ngFor="let note of notes"
            class="border-b pb-2 border-gray-200 dark:border-gray-600 text-gray-900 dark:text-gray-100"
        >
            <span
                class="text-blue-600 dark:text-blue-400 font-semibold cursor-pointer"
                (click)="goToNote(note.time)"
            >
                {{ note.time | number: '1.0-0' }}s
            </span>: {{ note.text }}
        </li>
    </ul>
</div>
